@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.btn-1,
.btn-2 {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 44px;
  margin: 0 5px;
  text-transform: capitalize;
  background: rgba(255, 255, 255, 0);
  border: 2px solid #cea124;
  border-radius: 5px;
  outline: none;
  z-index: 5;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-1:hover,
.btn-2:hover {
  cursor: pointer;
  background: #cea124;
}

.btn-1 {
  color: #fff;
}

.btn-2 {
  color: #000;
}

.btn-2:hover {
  color: #fff;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

.width-container {
  max-width: 1280px;
  margin: 0 auto;
}

.content-container {
  margin: 0 auto;
  width: 90vw;
}

.content-container header {
  width: 100%;
  height: 242px;
}

.content-container header .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 180px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-container header .contacts .address,
.content-container header .contacts .logo,
.content-container header .contacts .socials {
  max-width: 300px;
}

.content-container header .contacts .address {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.content-container header .contacts .address p {
  line-height: 1.2rem;
  color: #939396;
}

.content-container header .contacts .address p a {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 300;
  text-decoration: underline;
  color: #939396;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.content-container header .contacts .address p a:hover {
  color: #3535d8;
}

.content-container header .contacts .logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  background: url(/img/restaurant-logo.jpg) center/cover no-repeat;
}

.content-container header .contacts .socials {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-container header .contacts .socials .icon-container {
  width: 50px;
  height: 50px;
  position: relative;
}

.content-container header .contacts .socials .icon-container .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border: 1px solid #939396;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.content-container header .contacts .socials .icon-container .icon:hover {
  width: 90%;
  height: 90%;
  border: 1px solid #3535d8;
  color: #3535d8;
}

.content-container header .contacts .socials .icon-container .icon:hover i {
  color: #262630;
  font-size: 1.4rem;
}

.content-container header .contacts .socials .icon-container .icon i {
  color: #939396;
  font-size: 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.content-container #navbar {
  width: 100%;
  height: 60px;
  background: #fff;
}

.content-container #navbar li {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.content-container #navbar li:hover {
  border-bottom: 2px solid #cea124;
}

.content-container #navbar li:hover a {
  color: #cea124;
}

.content-container #navbar li:hover .sub-menu {
  display: block;
}

.content-container #navbar li a {
  font-weight: 500;
  color: #262630;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.content-container #navbar li .sub-menu {
  display: none;
  position: absolute;
  background: #fff;
  z-index: 6;
}

.content-container #navbar li .sub-menu .drinks {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.content-container #navbar li .sub-menu .drinks .drink-menu {
  display: none;
  position: absolute;
  background: #fff;
  z-index: 6;
}

.content-container #navbar li .sub-menu .drinks .drink-menu:hover {
  display: block;
  right: -220px;
  top: 0;
}

.content-container #navbar li .sub-menu li {
  width: 200px;
  text-align: left;
  padding-left: 20px;
  color: #000000;
  border-bottom: 1px solid rgba(147, 147, 150, 0.377);
}

.content-container #navbar li .sub-menu li a {
  color: #000;
}

.content-container #navbar li .sub-menu li:hover a {
  color: #3535d8;
}

.content-container #navbar .active {
  border-bottom: 2px solid #cea124;
}

.content-container #navbar .active a {
  color: #cea124;
}

.content-container #slider {
  position: relative;
  height: calc(100vh - 242px);
}

.content-container #slider .bg-container {
  position: absolute;
  overflow: hidden;
  left: -5vw;
  right: -5vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(/img/bg-1.jpeg) center/cover no-repeat;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.content-container #slider .bg-container::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.5;
  z-index: 2;
}

.content-container #slider .bg-container .arr-container {
  position: relative;
  width: 6rem;
  height: 3rem;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.content-container #slider .bg-container .arr-container .arrow-left,
.content-container #slider .bg-container .arr-container .arrow-right {
  position: absolute;
  width: 3rem;
  height: 3rem;
  text-align: center;
  border-radius: 5px;
  z-index: 5;
  opacity: 0;
  outline: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.content-container #slider .bg-container .arr-container .arrow-left:hover,
.content-container #slider .bg-container .arr-container .arrow-right:hover {
  background: rgba(0, 0, 0, 0.363);
  cursor: pointer;
}

.content-container #slider .bg-container .arr-container .arrow-left i,
.content-container #slider .bg-container .arr-container .arrow-right i {
  padding: 0.7rem 0;
  font-size: 1.6rem;
  color: #fff;
}

.content-container #slider .bg-container .arr-container .arrow-left {
  right: 0;
}

.content-container #slider .bg-container .arr-container .arrow-right {
  left: 0;
}

.content-container #slider .bg-container .heading {
  z-index: 5;
  text-align: center;
}

.content-container #slider .bg-container .heading h2 {
  font-size: 3rem;
  color: #fff;
  text-transform: capitalize;
  margin: 20px 0;
}

.content-container #slider .bg-container .heading p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.76);
  margin: 20px 0;
}

.content-container #slider .bg-container:hover .arrow-left {
  -webkit-transform: translateX(-3rem);
          transform: translateX(-3rem);
  opacity: 1;
}

.content-container #slider .bg-container:hover .arrow-right {
  -webkit-transform: translateX(3rem);
          transform: translateX(3rem);
  opacity: 1;
}

.content-container #options {
  width: 100%;
  height: 60vh;
  position: relative;
}

.content-container #options .option-container {
  position: absolute;
  top: -56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 5;
}

.content-container #options .option-container .option {
  width: 30%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.content-container #options .option-container h3 {
  font-size: 1rem;
  background: #cea124;
  border-radius: 3px 3px 0 0;
  text-transform: capitalize;
  text-align: center;
  padding: 20px 0;
}

.content-container #options .option-container h3 a {
  color: #fff;
  text-decoration: none;
}

.content-container #options .option-container .img {
  height: 170px;
  margin-top: 1px;
  border-radius: 0;
}

.content-container #options .option-container .opt-1 {
  background: url("/img/option-1.jpeg") center/cover no-repeat;
}

.content-container #options .option-container .opt-2 {
  background: url("/img/option-2.jpeg") center/cover no-repeat;
}

.content-container #options .option-container .opt-3 {
  background: url("/img/option-3.jpeg") center/cover no-repeat;
}

.content-container #options .option-container .option-content {
  padding: 30px;
  text-align: center;
}

.content-container #options .option-container .option-content p {
  font-size: 0.9rem;
  line-height: 1.5;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.76);
}

.content-container #options .option-container .option-content .btn {
  color: #000;
}

.content-container #options .option-container .option-content .btn:hover {
  color: #fff;
}

.content-container #info {
  position: relative;
  height: 60vh;
}

.content-container #info .info-container {
  position: absolute;
  height: 100%;
  left: -5vw;
  right: -5vw;
  background: #142850;
}

.content-container #info .info-container .width-container {
  width: 90vw;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-container #info .info-container .width-container .info-content {
  width: 40%;
  padding: 35px 0;
  color: #fff;
  z-index: 5;
}

.content-container #info .info-container .width-container .info-content h2 {
  font-size: 2.5rem;
  line-height: 1.2;
  color: #fff;
  margin: 20px 0;
}

.content-container #info .info-container .width-container .info-content p {
  color: rgba(255, 255, 255, 0.76);
  margin: 40px 0;
  font-size: 0.9rem;
  line-height: 1.5;
}

.content-container #info .info-container .width-container .info-content .btn-1 {
  margin: 0 10px 0 0;
}

.content-container #info .info-container .width-container .info-img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 50%;
  background: url(/img/info-1.png) center/contain no-repeat;
}

.content-container #news {
  width: 100%;
  height: 75vh;
}

.content-container #news .articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.content-container #news .articles .article {
  width: 28%;
}

.content-container #news .articles .article .art-1 {
  background-image: url(/img/art-1.jpg);
}

.content-container #news .articles .article .art-2 {
  background-image: url(/img/art-2.jpg);
}

.content-container #news .articles .article .art-3 {
  background-image: url(/img/art-3.jpeg);
}

.content-container #events {
  height: 75vh;
}

.content-container #events .events-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-container #events .events-container .event {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}

.content-container #events .events-container .event .event-1 {
  width: 35%;
  height: 220px;
  border-radius: 5px;
  background: url(/img/event-1.jpeg) center/cover no-repeat;
}

.content-container #events .events-container .event .event-2 {
  width: 35%;
  height: 220px;
  border-radius: 5px;
  background: url(/img/event-2.jpeg) center/cover no-repeat;
}

.content-container #events .events-container .event .event-content {
  width: 60%;
}

.content-container #events .events-container .event .event-content .time-frame {
  color: #cea124;
}

.content-container #contacts {
  position: relative;
  height: 85vh;
}

.content-container #contacts .contacts-bg {
  position: absolute;
  overflow: hidden;
  left: -5vw;
  right: -5vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #142850;
}

.content-container #contacts .contacts-bg .width-container {
  width: 90vw;
  max-width: 1280px;
}

.content-container #contacts .contacts-bg .contacts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
}

.content-container #contacts .contacts-bg .contacts-container .booking-bg {
  position: relative;
}

.content-container #contacts .contacts-bg .contacts-container .booking-bg .booking {
  background: url(/img/contact-1.jpeg) center/cover no-repeat;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-container #contacts .contacts-bg .contacts-container .booking-bg .booking::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.5;
  z-index: 2;
}

.content-container #contacts .contacts-bg .contacts-container .booking-bg .booking h4,
.content-container #contacts .contacts-bg .contacts-container .booking-bg .booking p,
.content-container #contacts .contacts-bg .contacts-container .booking-bg .booking button {
  position: relative;
  z-index: 5;
}

.content-container #contacts .contacts-bg .contacts-container .para {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: rgba(255, 255, 255, 0.76);
  text-align: center;
}

.content-container #contacts .contacts-bg .quick-links {
  width: 100%;
  margin: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-container #contacts .contacts-bg .quick-links #quick {
  width: 560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 0;
}

.content-container #contacts .contacts-bg .quick-links #quick .sections {
  width: 100%;
}

.content-container #contacts .contacts-bg .quick-links #quick .sections a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.content-container #contacts .contacts-bg .quick-links #quick .sections a:hover {
  color: #fff;
  border-color: #cea124;
}

.content-container #contacts .contacts-bg .quick-links #quick .sections p {
  color: #cea124;
}

.content-container #contacts .contacts-bg .quick-links .para {
  color: rgba(255, 255, 255, 0.5);
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.sections {
  margin: 0 auto;
  width: 45%;
  line-height: 60px;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
}

.heading {
  text-align: center;
  margin: 65px;
}

.heading h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #cea124;
}

.img {
  width: 100%;
  height: 220px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.h3-head {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 15px 0;
}

.h4-head {
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.days:nth-last-child(1) {
  border: none;
}

.days .para {
  line-height: 0.4;
}

.day {
  font-weight: 600;
}

.contact {
  width: 27%;
  height: 420px;
  text-align: center;
}

.para {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.76);
  line-height: 1.5;
  margin: 15px 0;
}

.span {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.76);
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (max-width: 1024px) {
  .content-container #options {
    height: 100vh;
  }
  .content-container #options .option-container .option {
    width: 49%;
  }
  .content-container #info {
    height: 95vh;
  }
  .content-container #info .info-container .width-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content-container #info .info-container .width-container .info-content,
  .content-container #info .info-container .width-container .info-img {
    width: 85%;
    height: 35%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    text-align: center;
  }
  .content-container #news {
    height: 108vh;
  }
  .content-container #news .articles .article {
    width: 47%;
  }
  .content-container #events .events-container .event .event-1,
  .content-container #events .events-container .event .event-2,
  .content-container #events .events-container .event .event-content {
    width: 47%;
  }
  .content-container #contacts {
    height: 125vh;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .content-container #contacts .contact {
    width: 47%;
    height: 380px;
  }
  .content-container #contacts .contact:nth-last-child(1) {
    margin-top: 6%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .content-container header {
    height: 300px;
  }
  .content-container header .contacts {
    height: 238px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .content-container header .contacts .address,
  .content-container header .contacts .logo,
  .content-container header .contacts .socials {
    width: 300px;
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
  .content-container header .contacts .address {
    text-align: center;
  }
  .content-container #options {
    height: 142vh;
  }
  .content-container #options .option-container .option {
    width: 100%;
    margin-bottom: 20px;
  }
  .content-container #info {
    height: 95vh;
  }
  .content-container #info .info-container .width-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content-container #info .info-container .width-container .info-content,
  .content-container #info .info-container .width-container .info-img {
    width: 85%;
    height: 35%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    text-align: center;
  }
  .content-container #news {
    height: 175vh;
  }
  .content-container #news .articles .article {
    width: 100%;
    margin-bottom: 65px;
    text-align: center;
  }
  .content-container #events {
    height: 125vh;
  }
  .content-container #events .events-container:nth-last-child(1) .event {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .content-container #events .events-container .event {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .content-container #events .events-container .event .event-1,
  .content-container #events .events-container .event .event-2,
  .content-container #events .events-container .event .event-content {
    width: 100%;
  }
  .content-container #contacts {
    height: 170vh;
  }
  .content-container #contacts .contact {
    width: 100%;
    height: 380px;
    margin: 35px;
  }
  .content-container #contacts .contact:nth-last-child(1) {
    margin-top: 6%;
  }
  .button-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .button-container .span,
  .button-container btn-2 {
    margin: 15px 0;
  }
}

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/*# sourceMappingURL=main.css.map */